<%- include('../../partials/head.ejs') %>
<div class="container my-container my-5">
    <div class="row">
        <h1 class="display-1 text-center">Welcome to Your Dashboard!</h1>
    </div>
</div>
<%- include('../../partials/footer.ejs') %>
<script></script>
</body>
</html>