<%- include('../../partials/head.ejs') %>
<div class="container my-container my-5">
    <h1 class="display-4 text-center">404 not found !</h1>
</div>
<%- include('../../partials/footer.ejs') %>
<script></script>
</body>
</html>