<%- include('../../partials/head.ejs') %>
<div class="container my-container my-5">
    <h3 class="display-4 text-center">Internal Server Error!
    </h3>
    <h4 class="text-center"> Please don't be panic. We well fix it soon.Thank You for
        Stay with US</h4>
</div>
<%- include('../../partials/footer.ejs') %>
<script></script>
</body>
</html>